{% extends "base.html" %}
{% block content %}
<h1>Acceso CareWave</h1>
<form method="post" action="/ui/login" style="margin-top:1rem;">
  <div>
    <label>Usuario</label><br>
    <input type="text" name="username">
  </div>
  <div style="margin-top:0.5rem;">
    <label>Contraseña</label><br>
    <input type="password" name="password">
  </div>
  <button type="submit" style="margin-top:1rem;">Entrar</button>
</form>

{% if error %}
  <p style="color:red;margin-top:1rem;">{{ error }}</p>
{% endif %}
{% endblock %}